In [9]:
import pandas as pd
import json

In [10]:
datas = pd.read_csv("csv/donnees-electricite-2015.csv", sep=";", encoding = "ISO-8859-1")

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
datas.head()

,OPERATEUR,ANNEE,FILIERE,TYPE,CODE,CONSOA,PDLA,INDQUALA,CONSOI,PDLI,INDQUALI,CONSOT,PDLT,INDQUALT,CONSOR,PDLR,INDQUALR,CONSONA,PDLNA,INDQUALNA
0,SRD,2015,E,Region,24,"0,00",0,"0,000000","0,00",0,"0,000000","0,00",0,"0,000000","70,71",14,"1,000000","0,00",0,"0,000000"
1,SRD,2015,E,Region,75,"0,00",0,"0,000000","0,00",0,"0,000000","0,00",0,"0,000000","447,02",85,"1,000000","0,00",0,"0,000000"
2,GEREDIS Deux-Sèvres,2015,E,Region,52,"0,00",0,"0,000000","0,00",0,"0,000000","0,00",0,"0,000000","231,74",35,"1,000000","0,00",0,"0,000000"
3,GEREDIS Deux-Sèvres,2015,E,Region,75,"0,00",0,"0,000000","0,00",0,"0,000000","0,00",0,"0,000000","391,22",61,"1,000000","0,00",0,"0,000000"
4,SICAE dEure-et-Loir et des Yvelines,2015,E,Region,11,"0,00",0,"0,000000","0,00",0,"0,000000","0,00",0,"0,000000","640,00",79,"1,000000","0,00",0,"0,000000"

In [12]:
from pymongo import MongoClient

client = MongoClient('mongo')
db = client.elecdb
coll = db.donnee_elec

In [13]:
records = json.loads(datas.T.to_json()).values()

In [14]:
coll.delete_many({})

TypeError: delete_many() missing 1 required positional argument: 'filter'

In [ ]:
coll.insert_many(records)

In [15]:
#connect to our cluster
from elasticsearch import Elasticsearch
es = Elasticsearch([{'host': '91.121.110.110', 'port': 9200}])

In [26]:
for i, record in enumerate(records):
    es.index(index='elec', doc_type='data elec', id=i, body=json.dumps(record))